<div class="new-game-form">
  {{#if newGameForm}}
  <div>
    <form  {{action 'saveGame' on="submit"}}>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title" required=true}}
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        {{textarea value=description id="description" required=true}}
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        {{input value=price id="price" required=true}}
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        {{input value=quantity id="quantity" required=true}}
      </div>
      <div class="form-group">
        <label for="condition">Condition</label>
        {{textarea value=condition id="condition" required=true}}
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        {{input value=genre id="genre" required=true}}
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
  {{else}}
  <div class="new-game-button">
    <button {{action 'newGameForm'}}>Add Game</button>
  </div>
  {{/if}}
</div>
